.bg-principal { background-color: #e4cda7; background-image: url("/src/img/rpg-project-3.jpg");}

.titulo-principal {
    font-size: 5rem;
    font-weight: 800;
    font-family: var(--font-titulo-1);
    color: var(--color-antique-brown);
}

.sub-titulo-principal {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: var(-font-texto-3);
}

.estrutura-diario h3 {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--font-titulo-1);
    color: var(--color-gold);
}

.estrutura-diario h4 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: var(--font-titulo-2);
    color: var(--color-antique-brown);
}

.estrutura-diario h5 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--font-texto-2);
}

.estrutura-diario p {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: var(--font-texto-2);
}


.letra-destaque::first-letter {
    initial-letter: 1.8;
    -webkit-initial-letter: 1.8;
    padding-right: 10px;
    margin-bottom: 5px;

}

.aventura-titulo { 
    font-size: 4.3rem;
    font-family: var(--font-titulo-1);
}

.aventura-listagem { 
    font-size: 2.3rem;
    font-weight: 600;
    cursor: pointer;    
}

.aventura-listagem li {
    background-color: transparent;
    border-bottom: 2px solid var(--color-antique-brown);
    transition: 1s all;
}

.aventura-listagem li:hover {
    background-color: var(--color-gold);
}

blockquote {
    font-size: 1.8rem;
    font-style: italic;
    padding: 10px 20px;
    border-left: 5px solid #8b4513;
    background: rgba(245, 224, 195, 0.7);
  }